<html xmlns:th="http://www.thymeleaf.org">
<head>

<div th:fragment="archive-css">
	<script th:src="@{/webjars/jquery/1.11.1/jquery.min.js}"></script>
	<script th:src="@{/theme/js/archive.js}"></script>

	<link rel="stylesheet" th:href="@{/theme/css/style.css}" />

</div>

</head>
<body>
	<div th:fragment="archive-body">

		<section id="accordion">
				<div th:each="year : ${archiveList}">
					<ul>
						<li>
							<h3>
								<span th:text="${year.year}"></span>
							</h3>
		
		
							<ul>
								<div th:each="month : ${year.monthList}">
									<li><h4>
											<img alt="" th:src="@{/theme/images/nav-icon.png}" /> <span th:text="${month.month}"></span>
										</h4>
		
										<ul>
											<div th:each="post : ${month.articleList}">
												<li><span th:text="${post.postTitle}"></span></li>
											</div>
										</ul></li>
								</div>
							</ul>
		
						</li>
					</ul>
				</div>
		</section>
	</div>
</body>
</html>