<html xmlns:th="http://www.thymeleaf.org">
<head>
<div th:fragment="user-header-css">
	<!-- this is header-css -->
	<link rel="stylesheet"
		th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}" />

</div>
</head>
<body>
	<section th:fragment="user-header">
	<header>
		<div class="overlay"></div>
		<div class="logo container padding-small">
			<h2><img alt="" th:src="@{/theme/images/logo.png}" />
			Myanmar Effective Programmer
			<br/>(Solve the problem, write the code!)</h2>
			
			
		</div>
		<!-- https://getbootstrap.com/docs/3.3/examples/navbar/
		https://getbootstrap.com/docs/3.3/components/#navbar -->
		
		
		<div id="navbar">
			<div class="container">
					<div class="row">
						<div class="col-sm-12 col-md-9 col-lg-9">
							<!-- button -->
							<div class="fm-button">
								<span class="fm-bar"></span>
								<span class="fm-bar"></span>
								<span class="fm-bar"></span>
							</div>
							<!-- end button -->
							<div class="navigation">
								<ul class="menu">
									<li class="dropdown">
										<a href="#" title="">Articles</a>
											<ul class="menu">
												<li>
													<a href="#">Articles Type 01</a></li>
												<li><a href="#">Articles Type 02</a></li>
											</ul></li>
									<li>
										<a href="#">Professional Programmer</a></li>
									<li>
										<a href="#">Programming Best Practices</a></li>
									<li>
										<a href="#">Java</a></li>
									<li>
										<a href="#">About Us</a></li>
								</ul>
							</div>
						</div>
						<div class="col-sm-12 col-md-3 col-lg-3">
							<div class="search">
								<form th:action="@{/searchArticle}" method="get">
									<input name="searchValue" type="text" th:value="*{searchValue}"
										placeholder="Search" /> <input type="submit"
										class="btn btn-danger" />
								</form>
							</div>
						</div>
					</div>
				</div>
		</div>
		</header>
	</section>
</body>
</html>