<link rel="stylesheet" th:href="@{/theme/css/archive.css}" />
<link rel="stylesheet" th:href="@{/theme/css/roboto.css}" />
<link rel="stylesheet" th:href="@{/theme/css/sticky.css}" />
<link rel="stylesheet" th:href="@{/theme/css/font-awesome.min.css}" />

<script th:src="@{/webjars/jquery/1.11.1/jquery.min.js}"></script>
<script th:src="@{/theme/js/archive.js}"></script>

<!-- Archive List -->
	<!-- <header role="banner">
	<section class="container">
		<nav class="nav" role="navigation">
			<div th:each="year : ${archiveList}">
			    <ul class="nav__list">
			      <li>
			        <input id="group-1" type="checkbox" th:hidden="hidden" />
			        <label for="group-1"><span class="fa fa-angle-right" th:text="${year.year}"></span></label>
			        <ul class="group-list">
			        	<div th:each="month : ${year.monthList}">			          
				          <li>
				            <input id="sub-group-1" type="checkbox" th:hidden="hidden" />
				            <label for="sub-group-1"><span class="fa fa-angle-right" th:text="${month.month}"></span></label>
				            <ul class="sub-group-list">
				            	<div th:each="post : ${month.articleList}">
					              <li><span th:text="${post.postTitle}"></span></li>
					            </div>		              
				            </ul>
				          </li>
				         </div>
			        </ul>
			      </li>
			      
			    </ul>
			</div>
	  	</nav>
  	</section>
  	</header> -->
	
	<!-- <section class="container">		
	<div id="accordion">
		<div th:each="year : ${archiveList}">
			<ul>
			    <li>
			        <h3><span th:text="${year.year}"></span></h3>
			        
			        
				        <ul>
				        	<div th:each="month : ${year.monthList}">
					            <li><h4><span th:text="${month.month}"></span></h4>
						            
							            <ul>
							            	<div th:each="post : ${month.articleList}">
							              <li><span th:text="${post.postTitle}"></span>	</li>
							              </div>
							            </ul>
						            
					            </li>
				            </div>
				        </ul>
			        
			    </li>
			</ul>
		</div>
	</div>
	</section> -->

	<!-- <div class="container">	
			<div th:each="year : ${archiveList}">
				<div class="accordion" >		
				
					<div class="name"><span th:text="${year.year}"></span></div>
							
						
					<div class="discription" th:each="month : ${year.monthList}">
					
						<span th:text="${month.month}"></span>
						
							<div class="row" th:each="post : ${month.articleList}">
								<span th:text="${post.postTitle}"></span>	
							</div>
					</div>
				</div>
			</div>
		
	</div> -->
	
	<!-- List<ArchiveYearListDto> archiveList = archiveListService.getArchiveList();
		
		mav.addObject("archiveList", archiveList); -->