<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	layout:decorator="fragments/userHomeLayout" lang="en">
  <head>
    
    <meta charset="UTF-8" />
    <title>Articles - Myanmar Effective Programmer</title>	
	
  </head>

  <body>  	

	<div layout:fragment="content" >

    <div class="container blog-content">

      <div class="row">
      
      	<div th:each="article : ${articleSingleDto}" >

        <div class="col-sm-8 blog-main">

          <section class="blog-post">
            <div class="panel panel-default">
              <img th:src="${(!#strings.isEmpty(article.postTitleImgUrl)) ? article.postTitleImgUrl : ''}" class="img-responsive" />
              <div class="panel-body">
                <div class="blog-post-meta">
                  <span class="label label-light label-warning">Apps</span>
                  <p class="blog-post-date pull-right"><span
							th:utext="${#dates.format(article.createdDate, 'MMMMM dd, yyyy')}"></span>
						/ BY <span th:utext="${article.adminName}"></span></p>
                </div>
                <div class="blog-post-content">
                  <h2 class="blog-post-title"><span th:utext="${article.postTitle} "></span></h2>
                  
                  <span th:remove="tag" th:utext="${article.postContent} "></span>

                </div>
              </div>
            </div>
          </section><!-- /.blog-post -->

          <section class="blog-comments">
            <div class="panel panel-default">
              <div class="panel-body">
                <h2 class="blog-post-title">Comments</h2>
                <div id="disqus_thread"></div>
                <script>
                /**
                * RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
                * LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables
                */
                /*
                var disqus_config = function () {
                this.page.url = PAGE_URL; // Replace PAGE_URL with your page's canonical URL variable
                this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
                };
                */
                (function() { // DON'T EDIT BELOW THIS LINE
                var d = document, s = d.createElement('script');

                s.src = '//materialblogbootstrap.disqus.com/embed.js';

                s.setAttribute('data-timestamp', +new Date());
                (d.head || d.body).appendChild(s);
                })();
                </script>
                <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
              </div>
            </div>
          </section>

        </div><!-- /.blog-main -->

        <div th:replace="fragments/userRightMenu :: user-right-menu"></div>
        
        </div> <!-- / .loop -->

      </div><!-- /.row -->

    </div><!-- /.container -->
    
    </div>

  </body>
</html>

<!-- <!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">

<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<meta name="viewport" content="width=device-width, initial-scale=1" />

<title>Articles - Myanmar Effective Programmer</title>

<div th:replace="fragments/userHeader :: user-header-css" />
<div th:replace="user/common/Archive :: archive-css" />

<link rel="stylesheet" th:href="@{/theme/css/user.css}" />
<link rel="stylesheet" th:href="@{/theme/css/style.css}" />

</head>
<body>

	<div th:replace="fragments/userHeader :: user-header"></div>

	Main Content
	<section class="container">		
		<div class="row padding-large">
			<div th:each="article : ${articleSingleDto}" class="col-md-9 col-lg-9 col-sm-12">
		
				<div class="field-images">
				
					<img
						th:src="${(!#strings.isEmpty(article.postTitleImgUrl)) ? article.postTitleImgUrl : ''}"
						class="img-responsive" />
				</div>
				<div class="post-preview">
					<h2 class="post-title">
						<span th:utext="${article.postTitle} "></span>
					</h2>
					<p class="post-meta text-uppercase text-muted">
						<span
							th:utext="${#dates.format(article.createdDate, 'MMMMM dd, yyyy')}"></span>
						/ BY <span th:utext="${article.adminName}"></span>
					</p>
				</div>
	
				<span th:remove="tag" th:utext="${article.postContent} "></span>
			</div>
			
			<div  class="col-md-3 col-lg-3 col-sm-12">
				<div th:replace="user/common/Archive :: archive-body" />
			</div>
		</div>
	</section>
	
	Lastest Articles
	<section class="container">		
			<div class="row padding-large">
				<div th:each="article : ${lastSevenList}">				
					<div class="col-sm-12 col-md-3 col-lg-3">
						<a class="midfont" th:href="@{/{createdDate}/{postTitleEng}(createdDate=${#dates.format(article.createdDate, 'yyyy-MM-dd')}, postTitleEng=${article.postTitleEng})}">					
							<div class="field-images" >
								<img th:src="${(!#strings.isEmpty(article.postTitleImgUrl)) ? article.postTitleImgUrl : ''}" class="img-responsive" />
							</div>
							<div class="field-title">
								<span th:utext="${article.postTitle}"></span>
							</div>
						</a>
						<div class="body text-uppercase text-muted">
							<p class="smallfont"><span
								th:utext="${#dates.format(article.createdDate, 'MMMMM dd, yyyy')}"></span>
								/ BY <span th:utext="${article.adminName}"></span></p>
						</div>						
						
					 </div>
				</div>
			</div>
	</section>	

	<div th:replace="fragments/footer :: footer"></div>

</body>
</html> -->