<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">

<title>Articles - Myanmar Effective Programmer</title>

<div th:replace="fragments/userHeader :: user-header-css" />

<link rel="stylesheet" th:href="@{/theme/css/user.css}" />

<script th:src="@{/theme/js/social.js}"></script>

</head>
<body>

<a type="icon_link" href="javascript: void(0)" 
				th:onClick="'javascript:fbShare(\'' + 'https://simpleprogrammer.com/2017/09/08/focus-basics-art-mastering-scrum/' + '\', \'' + 'Fb Share' + '\', \'' + 'Facebook share popup' + '\', \'' + ${article.postTitleImgUrl} + '\', 800, 800);'">
				Share on Facebook </a> <a type="icon_link" href="javascript: void(0)"
				th:onClick="'javascript:lkShare(\'' + 'https://simpleprogrammer.com/2017/09/08/focus-basics-art-mastering-scrum/' + '\');'">
				Share on LinkedIn </a> <a type="icon_link" href="javascript: void(0)"
				th:onClick="'javascript:gpShare(\'' + 'https://simpleprogrammer.com/2017/09/08/focus-basics-art-mastering-scrum/' + '\');'">
				Share on Google+ </a>
				
</body>
</html>